/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.body-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 0px;
}

.full-width {
    width: 100%;
}

.table {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fff;
  border-radius: 4px;
  width: 100%;
}

.content-header {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}
