<mat-nav-list *ngIf="userType === 'Admin'">
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/home">Home</a>
  <mat-divider></mat-divider>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <a mat-list-item>User</a>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <a mat-list-item routerLink="/registration">Registration</a>
    <a mat-list-item routerLink="/userlist">User List</a>
  </mat-expansion-panel>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/subject">Subject</a>
  <mat-divider></mat-divider>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <a mat-list-item>Class</a>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <a mat-list-item routerLink="/createClass">Create Class</a>
    <a mat-list-item routerLink="/classList">Class List</a>
  </mat-expansion-panel>
</mat-nav-list>

<mat-nav-list *ngIf="userType === 'Lecturer'">
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/home">Home</a>
  <mat-divider></mat-divider>

  <a mat-list-item routerLink="/lecturerClass">Class</a>
  <mat-divider></mat-divider>
</mat-nav-list>
